@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

/*------------------ обнуляющий список ----------------------*/
html, body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.header {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
}
.header__wrap {
  height: 28px;
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}
.header__text a {
  width: 115px;
  height: 25px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 3px;
}
.header__burger {
  display: none;
}
.header__menu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}
.header__navigation {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-left: 146px;
}
.header__link a {
  color: #000;
  font-size: 15px;
  line-height: 18.2px;
  letter-spacing: 0.3px;
}
.header__link_color a {
  color: #6E9C9F;
  font-weight: 700;
}
.header__call {
  width: 27px;
  margin: 3px 0px 0px 166px;
}
.header__call:hover {
  background: #6E9C9F;
  background-image: url(../img/header/call-hover.svg);
  background-repeat: no-repeat;
  background-position: 60% 34%;
  background-size: 17px;
}
.header__call:hover img {
  opacity: 0;
}
.header__number {
  color: #000;
  font-size: 15px;
  letter-spacing: 0.3px;
  margin-left: 9px;
}
.header__basket {
  position: relative;
  z-index: 3;
  margin-left: 60px;
  transform: translateX(-2px);
}

.about {
  margin-top: 96px;
}
.about__wrap {
  padding-top: 40px;
  height: 732px;
  min-width: 0px;
  display: flex;
  justify-content: space-between;
}
.about__block-one {
  width: 554px;
}
.about__slider-text {
  margin-top: 131px;
}
.about__title-text {
  font-size: 55px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 1.1px;
}
.about__subtitle-text {
  width: 385px;
  margin: 45px 0px 0px 15px;
  text-align: right;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.4px;
}
.about__navigation {
  display: flex;
  margin: 52px 0px 0px 90px;
}
.about__arrow a {
  width: 68px;
  height: 68px;
  display: block;
  background-image: url(../img/about/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 68px 68px;
}
.about__button {
  background: #6E9C9F;
}
.about__button:hover {
  background-color: #509498;
}
.about__block-two {
  width: 460px;
  background: #F1EADC;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}
.about__image-up {
  position: absolute;
  top: 109px;
  right: -116px;
  z-index: 1;
}
.about__image-down {
  position: absolute;
  bottom: 0;
  left: -80px;
  z-index: 1;
}

.button {
  width: 243px;
}
.button a {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  line-height: 138.9%;
  letter-spacing: 0.34px;
}

.about__block-one .swiper-pagination {
  position: inherit;
  bottom: 0;
  margin: 81px 0px 0px 286px;
  width: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__block-one .swiper-pagination-bullet {
  border-radius: 0px;
  width: 30px;
  height: 4px;
  background-color: #D1D1D1;
  opacity: 1;
}
.about__block-one .swiper-pagination-bullet-active {
  background-color: #000;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0px);
}

.collection {
  margin-top: 100px;
}
.collection__wrap {
  padding-top: 30px;
  height: 857px;
}
.collection__header {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.8px;
}
.collection__column {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection__image a {
  display: block;
}
.collection__subimage {
  margin-top: 24px;
  text-align: center;
}
.collection__thing {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
}
.collection__price {
  margin-top: 7px;
  color: #998E78;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.3px;
}
.collection__price span {
  color: #9C9C9C;
  text-decoration: line-through;
}
.collection__button {
  margin: 65px auto 0px;
}
.collection__button a {
  color: #6E9C9F;
  border: 1px solid #6E9C9F;
}
.collection__button:hover {
  background-color: #6E9C9F;
}
.collection__button:hover a {
  color: #FFF;
}

.matter {
  margin-top: 130px;
}
.matter__wrap {
  height: 408px;
}
.matter__header {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.8px;
}
.matter__column {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.matter__item {
  height: 272px;
  width: 305px;
}
.matter__image img {
  width: 61px;
}
.matter__title {
  margin-top: 37px;
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.5px;
}
.matter__subtitle {
  margin-top: 24px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  letter-spacing: 0.34px;
}

.team {
  margin-top: 130px;
}
.team__header {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.8px;
  margin-bottom: 92px;
}
.team__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team__block-one {
  width: 729px;
}
.team__block-two {
  width: 257px;
}
.team__title {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.5px;
  margin-bottom: 28px;
}
.team__subtitle {
  margin-bottom: 28px;
}
.team__subtitle p {
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  letter-spacing: 0.34px;
}
.team__subtitle > p {
  margin-bottom: 20px;
}
.team__link a {
  color: #6E9C9F;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  letter-spacing: 0.34px;
}

.team__block-one .swiper-pagination {
  position: inherit;
  bottom: 61px;
  margin: 0px auto 0px;
  width: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team__block-one .swiper-pagination-bullet {
  border-radius: 0px;
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.36);
  opacity: 1;
}
.team__block-one .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0px);
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #FFF;
  font-size: 30px;
}

.footer {
  margin-top: 130px;
  background-color: #F1EADC;
  padding: 103px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrap {
  display: flex;
}
.footer__column-one {
  margin-right: 81px;
}
.footer__logo {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 67px;
}
.footer__text a {
  width: 115px;
  height: 25px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 3px;
}
.footer__info-item {
  margin-bottom: 6px;
}
.footer__info-item a {
  color: #000;
  font-size: 13px;
  line-height: 18.2px;
  letter-spacing: 0.26px;
}
.footer__info-item:last-child {
  margin-bottom: 0;
}
.footer__column-two {
  margin-right: 253px;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.footer__link {
  margin-right: 45px;
}
.footer__link:last-child {
  margin-right: 0;
}
.footer__link a {
  color: #000;
  font-size: 15px;
  line-height: 18.2px;
  letter-spacing: 0.3px;
}
.footer__link_color a {
  color: #6E9C9F;
  font-weight: 700;
}
.footer__clothes {
  margin-left: 107px;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__item a {
  color: #000;
  font-size: 13px;
  line-height: 18.2px;
  letter-spacing: 0.26px;
}
.footer__column-three {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__number {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.3px;
  margin-bottom: 9px;
}
.footer__post {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}
.footer__socials {
  display: flex;
  margin-bottom: 32px;
}
.footer__socials-item {
  margin-right: 12px;
}
.footer__socials-item:last-child {
  margin-right: 0;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(110, 156, 159, 0.95);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  opacity: 1;
  transform: perspective(500px) translate(0px, 0%) rotateX(0deg);
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}
.popup__content {
  padding: 70px;
  background: #FFF;
  position: relative;
  opacity: 0;
  transform: perspective(500px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.3s ease 0s;
}
.popup__close {
  position: absolute;
  top: 32px;
  right: 32px;
}
.popup__title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.5px;
}
.popup__form {
  margin-top: 35px;
}
.popup__input {
  height: 40px;
  border-bottom: 1px solid #000;
  margin-bottom: 35px;
}
.popup__input input {
  width: 350px;
  color: #868686;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.34px;
}
.popup__button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
  background-color: #6E9C9F;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.34px;
}

.popup__button_2 {
  display: block;
  width: 168px;
  margin: 35px auto 0px;
}
.popup__button_2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 68px;
  background: #FFF;
  border: 1px solid #6E9C9F;
  color: #6E9C9F;
  line-height: 138.9%;
}