@import "reset-style.scss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap'); // font-family: 'Raleway', sans-serif;

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

//----------------------------------------------------------------------- 

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

//----------------------------------------------------------------------- header

.header {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 2;
    }

    &__wrap {
        height: 28px;
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    &__icon {
        a {
            width: 25px;
            height: 25px;
            display: block;
            background-image: url(/img/logo/header-icon.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 25px 25px;
        }
    }

    &__text {
        width: 115px;
        height: 25px;
        
        color: #000;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
        text-transform: uppercase;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 3px;
    }

    &__burger {
        display: none;
    }

    &__menu {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    &__navigation {
        width: 400px;
        display: flex;
        justify-content: space-between;
        margin-left: 146px;
    }
    
    &__link {
        a {
            color: #000;
            font-size: 15px;
            letter-spacing: 0.3px;
            // &:hover {
            //     text-decoration: underline;
            // }
        }

        &_color {
            a {
                color: #6E9C9F;
                font-weight: 700;
            }
        }
    }

    &__call {
        width: 27px;
        margin: 3px 0px 0px 166px;
        &:hover {
            img {
                opacity: 0;
            }
            background: #6E9C9F;
            background-image: url(/img/logo/header-call-hover.svg);
            background-repeat: no-repeat;
            background-position: 60% 34%;
            background-size: 17px;
        }
    }

    &__number {
        color: #000;
        font-size: 15px;
        letter-spacing: 0.3px;
        margin-left: 9px;
    }

    &__basket {
        position: relative;
        z-index: 3;
        margin-left: 60px;
        transform: translateX(-2px);
    }
}

//----------------------------------------------------------------------- about

.about {
    margin-top: 96px;

    &__wrap {
        padding-top: 40px;
        height: 732px; // height: 692px + padding-top: 40; 
        min-width: 0px;
        display: flex;
        justify-content: space-between;
    }

    &__block-one {
        width: 554px;
    }

    &__slider-text {
        margin-top: 131px;
    }

    &__wrap-text {
    }

    &__slide-text {
    }

    &__title-text {
        font-size: 55px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 1.1px;
    }

    &__subtitle-text {
        width: 385px;
        margin: 45px 0px 0px 15px;
        text-align: right;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.4px;
    }

    &__navigation {
        display: flex;
        margin: 52px 0px 0px 90px;
    }

    &__arrow {
        a {
            width: 68px;
            height: 68px;
            display: block;
            background-image: url(/img/elements/arrow-down.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 68px 68px;
        }
    }

    &__button {
        background: #6E9C9F;
        &:hover {
            background-color: #509498;
        }
    }

    &__block-two {
        width: 460px;
        background: #F1EADC;
        position: relative; // for .about__image-up/down
        
        display: flex;
        justify-content: right;
        align-items: center;
    }

    &__slider-image {
    }

    &__wrap-image {
    }

    &__slide-image {
    }

    &__image {
    }

    &__image-up {
        position: absolute;
        top: 109px;
        right: -116px;
        z-index: 1;
    }

    &__image-down {
        position: absolute;
        bottom: 0;
        left: -80px;
        z-index: 1;
    }
}

.button {
    width: 243px;
    a {
        width: 243px;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: #FFF;
        text-align: center;
        font-size: 17px;
        line-height: 138.9%;
        letter-spacing: 0.34px;
    }
}

.about__block-one .swiper-pagination {
    position: inherit; // убрал position:absolute у стиля swiper
    bottom: 0; // обнуляю bottom: -8px; у стиля swiper
    margin: 81px 0px 0px 290px ; // 286px(вместо 290) когда уберу margin: 4px
    width: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-bullet {
        border-radius: 0px;
        width: 30px;
        height: 4px;
        margin: 0px;

        &-active {
            background-color: #000;
        }

        &-horizontal-gap {
            margin: 0;
        }
    }
}

.swiper-horizontal>.swiper-pagination-bullet {
    margin: 0;
}

//----------------------------------------------------------------------- collection

.collection {

    &__wrap {
        padding-top: 30px;
        height: 857px; // height: 827px + padding-top: 30; 
        margin-top: 100px;
    }

    &__header {
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: 0.8px;
    }

    &__column {
        margin-top: 92px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
    }

    &__image { 
    }

    &__subimage {
        text-align: center;
    }

    &__thing {
        margin-top: 24px;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.4px;
    }

    &__price {
        margin-top: 7px;
        color: #998E78;
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.3px;

        span {
            color: #9C9C9C;
            text-decoration: line-through;
        }
    }

    &__button {
        margin: 65px auto 0px;
        a {
            color: #6E9C9F; 
            border: 1px solid #6E9C9F;
        }
        &:hover {
            background-color: #6E9C9F;
            a {
                color: #FFF;
            }
        }
    }
}

//----------------------------------------------------------------------- lorem

.lorem {
    margin-top: 50px;

    &__wrap {
    }

    &__text {
        color: #000;
        font-size: 15px;
        letter-spacing: 0.5px; 
        line-height: 16px;
        text-align: justify; 
    }
}

//----------------------------------------------------------------------- popup 

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(110, 156, 159, 0.95);
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease 0s;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &.open .popup__content {
        opacity: 1;
        //transform: translate(0px, 0px);
        transform: perspective(500px) translate(0px, 0%) rotateX(0deg);
    }

    &__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;
    }

    &__content {
        padding: 70px;
        background: #FFF;
        position: relative; // for .popup__close
        
        opacity: 0;
        //transform: translate(0px, -100%); 
        transform: perspective(500px) translate(0px, -100%) rotateX(45deg);
        transition: all 0.3s ease 0s;
    }

    &__close {
        position: absolute;
        top: 32px;
        right: 32px;
    }

    &__title {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.5px;
    }

    &__form {
        margin-top: 35px;
    }

    &__input {
        height: 40px;
        border-bottom: 1px solid #000;
        margin-bottom: 35px;

        input {
            width: 350px;
            color: #868686;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0.34px;
        }
    }

    &__button {
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 68px;
            background-color: #6E9C9F;
    
            color: #FFF;
            text-align: center;
            font-size: 17px;
            letter-spacing: 0.34px;
        }
    }
}

//--------------------------------- popup-2

.popup {

    &__button_2 {
        display: block;
        width: 168px;
        margin: 35px auto 0px;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 168px;
            height: 68px;
            background: #FFF;
            border: 1px solid #6E9C9F;

            color: #6E9C9F;
            line-height: 138.9%;
        }
    }
}